# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
myenv/
env/

# Node
node_modules/
.next/
*.tsbuildinfo

# Testing
coverage/
.coverage
.nyc_output
.pytest_cache/
__pycache__/
.cache

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Vercel
.vercel

